VERSION_NAME = 1.0.15
VERSION_ID = 26
// Developer.xcconfig



APP_ID_IOS[config=Debug] = com.warpvpn.data
APP_GROUP[config=Debug] = group.com.warpvpn.data

DEVELOPMENT_TEAM[config=Debug] = AH46QT2Y7A
CODE_SIGN_IDENTITY[config=Debug] =
APP_PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
EXT_PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
CONTENT_BLOCKER_PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
APP_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Debug] =
EXT_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Debug] =



APP_ID_IOS[config=Release] = com.warpvpn.data
APP_GROUP[config=Release] = group.com.warpvpn.data

DEVELOPMENT_TEAM[config=Release] = AH46QT2Y7A
CODE_SIGN_IDENTITY[config=Release] =
APP_PROVISIONING_PROFILE_SPECIFIER[config=Release] =
EXT_PROVISIONING_PROFILE_SPECIFIER[config=Release] =
CONTENT_BLOCKER_PROVISIONING_PROFILE_SPECIFIER[config=Release] =
APP_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Release] =
EXT_PROVISIONING_PROFILE_SPECIFIER_MAC[config=Release] =



GCC_PREPROCESSOR_DEFINITIONS = $(inherited) EXT_BUNDLE_ID="$(EXT_BUNDLE_ID)" CONTENT_BLOCKER_BUNDLE_ID="$(CONTENT_BLOCKER_BUNDLE_ID)" APP_GROUP="$(APP_GROUP)"
